.header{
    height: clamp(260px, 34vw, 440px);
    margin: 30px auto;
    background: url('../../assets/header_img2.png') no-repeat center/cover; 
    position: relative;
    border-radius: 24px;
    overflow: hidden;
}

.header-contents {
    position: absolute;
    top: 49%;                 /* canh giữa theo chiều dọc */                 /* đẩy vào trong 1 chút cho thoáng */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: start;  /* chữ thẳng lề trái */
    gap: 1.2rem;              /* khoảng cách giữa các khối chữ */
    max-width: 38%;         /* giới hạn độ rộng chữ */
    padding: 2rem;
    color: #fff;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 700;
    color: white;
    font-size: max(3.5vw,18px);
}
.header-contents p{
    color: rgb(253, 242, 242);
    font-size: 1.22vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
}
.header-contents button{
    border: none;
    color: rgb(252, 118, 8);
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px; 
    cursor: pointer; 
}

.header-contents button:hover {
  background-color: #FF6B35;    /* đổi nền khi hover */
  color: #fff;                  /* chữ thành trắng */
  transform: scale(1.05);       /* hơi phóng to */
  box-shadow: 0 4px 12px rgba(0,0,0,0.2); /* bóng nhẹ */
}
@media(max-width: 1050px){
    .header-contents{
        max-width: 40%;
    }
}
@media(max-width: 900px){
    .header{
        height: min(72vw, 420px);
        border-radius: 18px;
    }
    .header-contents{
        position: static;
        transform: none;
        max-width: 100%;
        background: rgba(0,0,0,.45);
        border-radius: 18px;
        padding: 40px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 35px;
        backdrop-filter: blur(10px);
    }
    .header-contents p{
        display: block;
        font-size: 10px;
    }
    .header-contents h2{
        font-size: 15px;
    }
    .header-contents button{
        padding: 14px 26px;
        font-size: 14px;
        margin: 0; 
    }
}
@media(max-width: 650px){
    .header-contents {
        max-width: 80%;
    }
    .header-contents h2{
        max-width: 100%;
        margin: 0;
        font-size: clamp(24px, 7vw, 34px);
    }
    .header-contents p{
        margin: 0;
    }
    .header-contents button{
        width: 100%;
        justify-content: center;
    }
}