@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', cursive;
}

html{
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: min(1200px, 80%);
  margin: 0 auto 80px;
  padding: 0 12px;
}
@media (max-width: 1200px){
  .app{ width: 90%; }
}
@media (max-width: 900px){
  body{ background: #fff; }
  .app{
    width: 100%;
    margin-bottom: 48px;
    padding: 0 18px;
  }
}
@media (max-width: 600px){
  .app{ padding: 0 12px; }
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}